.head
  .head__head-box
    .head__head-box__head-title
      My Portfolio
    .head__head-box__head-content
      #app.head__head-box__head-content__head-mark
        %p{"v-on:click" => "openModal"} Profile
        #overlay{"v-show" => "showContent"}
          #content
            %img{alt: "ポップアップ画像", src: "/assets/popup.jpg",height: '300', width: '500',class:'image-pop'}/
            %button{"v-on:click" => "closeModal"} ×
      .head__head-box__head-content__head-mark
      = link_to "#title4",class:"head__head-box__head-content__head-mark" do
        Portfolio
      .head__head-box__head-content__head-mark
      = link_to new_top_path,class:"head__head-box__head-content__head-mark" do
        Contact
      .head__head-box__head-content__head-mark
      = link_to "https://blog-kei-life.com",class:"head__head-box__head-content__head-mark" do
        BLOG
  .top-body
    .top-image
      .top-image-a
        = link_to "https://blog-kei-life.com"do
          = image_tag '/assets/name.jpg', alt: '名前画像', height: '400', width: '100%', class: 'image-top' 
      .top-image-a
        = link_to "https://you-are.herokuapp.com/"do
          = image_tag '/assets/you-are.jpg', alt: 'YOU-ARE画像', height: '400', width: '100%', class: 'image-top' 
      .top-image-a
        = link_to "#"do
          = image_tag '/assets/CoCoA2.jpg', alt: 'CoCoA画像', height: '400', width: '100%', class: 'image-top' 
    .top-content

%body.body
.Body
  .body-box
    .body-box__body-title
      %h2 ProFile
      .body-box__body-title__profile
        %p ・NAME：木下啓太
        %p ・Date：1993.8.3
        %p ・From：Tokyo
        %p ・Hobby：プロレス観戦
      .body-box__body-title__history-box
        %label{for: "label1"} ＜HiStory〜職歴〜＞
        %input#label1{type: "checkbox"}/
        .body-box__body-title__history-box__history-content
          %ul.historys
            %li.history 2012.4 ~ 2016.3 大正大学 卒業
            %li.history 2016.4 ~ 2020.4 工業備品メーカー 営業として 勤務
            %li.history 2020.6 ~ 2020.9 プログラミングスクール・テックキャンプ80期 学習
      .Skill-body
        .body-box__body-title__skill-box
          %label{for: "label2"} ＜SKiLL〜技術〜＞
          %input#label2{type: "checkbox"}/
          .body-box__body-title__skill-box__skill-content
            %ul.skills
              %li.skill ・HTML
              %li.skill ・Haml
              %li.skill ・CSS
              %li.skill ・Ruby
              %li.skill ・Rails
              %li.skill ・JavaScript 
            %ul.skills
              %li.skill ・jQuery​
              %li.skill ・Python（学習中）
              %li.skill ・AWS
              %li.skill ・heroku
              %li.skill ・WordPress
              %li.skill ・PHP（学習中）
        .body-box__body-title__certification-box
          %label{for: "label3"} ＜Certification〜資格〜＞
          %input#label3{type: "checkbox"}/
          .body-box__body-title__certification-box__certification-content
            %ul.certifications
              %li.certification ・普通自動車免許
              %li.certification ・普通自動二輪免許
              %li.certification ・eco検定
              %li.certification ・秘書検定
              %li.certification ・販売士
            %ul.certifications
              %li.certification ・ビジネス実務マナー
              %li.certification ・アシスタントホスピタリティ・コーディネータ
              %li.certification ・危険物取扱者乙種4類
              %li.certification ・フォークリフト運転技能
              %li.certification ・BBQインストラクター
  .portfolio
    %p#title4 Portfolio
    %ul.portfolio-box
      %li.portfolio-box__portfolio-title
        .portfolio-box__portfolio-content
          = link_to "https://you-are.herokuapp.com/",class:"image",target:"_blank" do
            = image_tag '/assets/you-are-image.png', alt: 'アプリ画像', height: '300px', width: '300px', class: 'image-top' 
      %li.portfolio-box__portfolio-title
        .portfolio-box__portfolio-content
          = link_to "http://54.249.185.167/",class:"image",target:"_blank" do
            = image_tag '/assets/furima-image.jpg', alt: 'アプリ画像', height: '300px', width: '300px', class: 'image-top' 
      %li.portfolio-box__portfolio-title
        .portfolio-box__portfolio-content
          = link_to "#",class:"image",target:"_blank" do
            = image_tag '/assets/CoCoA-index-2.jpg', alt: 'アプリ画像', height: '300px', width: '300px', class: 'image-top' 
      %li.portfolio-box__portfolio-title
        .portfolio-box__portfolio-content
          = link_to "#",class:"image",target:"_blank" do
            = image_tag '/assets/project.jpg', alt: 'アプリ画像', height: '300px', width: '300px', class: 'image-top' 
%footer.Footer
  Copyright YOU ARE 2020.
  %a.fab.fa-github-square{href: "https://github.com/KINOSHITA-KEI-TA"}
  %a.fab.fa-twitter-square{href: "https://twitter.com/KEITA85765650"}
