.Header
  .head
    .head__head-box
      .head__head-box__head-title
        My Portfolio
      .head__head-box__head-content
        .head__head-box__head-content__head-mark
        = link_to "#",class:"head__head-box__head-content__head-mark" do
          Profile
        .head__head-box__head-content__head-mark
        = link_to "#",class:"head__head-box__head-content__head-mark" do
          Portfolio
        .head__head-box__head-content__head-mark
        = link_to "#",class:"head__head-box__head-content__head-mark" do
          Contact
        .head__head-box__head-content__head-mark
        = link_to "#",class:"head__head-box__head-content__head-mark" do
          BLOG
  .top-body
    .top-image
      = image_tag '/assets/name.jpg', alt: '名前画像', height: '300', width: '100%', class: 'image-top' 
      = image_tag '/assets/you-are.jpg', alt: 'YOU-ARE画像', height: '300', width: '100%', class: 'image-top' 
    .top-content
.Body

.Footer